body {
  background-image: url("/src/images/body.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/src/images/body.jpg");
  background-size: cover;
  background-blend-mode: darken;
  filter: brightness(150%);
}

footer {
  background: -webkit-linear-gradient(#e700de, #ff9500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

.App {
  text-align: left;
  margin-left: 200px;
}

.Eileen {
  height: 20vmin;
  pointer-events: none;
  margin: 30px auto;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .Eileen {
    animation: Eileen-spin infinite 20s linear;
  }
}

@keyframes Eileen-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
