.Search {
  background: -webkit-linear-gradient(#e700de, #ff9500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: grey;
  background-blend-mode: multiply;
  font-weight: bolder;
  font-size: 30px;
  border: 2px solid #ff9500;
  border-radius: 3px;
  margin-top: 90px;
  margin: 200px 0px 10px;
  filter: brightness(100%);
}
